<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <experienceProfile>
      <resultTransformManager>
        <resultTransformProvider>
          <contactSearchResultTransformer>
            <add key="default" type="Sitecore.Support.Cintel.Client.Transformers.Contact.ContactSearchResultTransformer, Sitecore.Support.74085" patch:instead="add" />
          </contactSearchResultTransformer>
          <contactDetailsTransformer>
            <add key="default" type="Sitecore.Support.Cintel.Client.Transformers.Contact.ContactDetailsTransformer, Sitecore.Support.74085" patch:instead="add" />
          </contactDetailsTransformer>
        </resultTransformProvider>
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>